/Lab1/Lab1/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/Lab1/.idea/.idea.Lab1/.idea/codeStyles/codeStyleConfig.xml
/Lab1/.idea/.idea.Lab1/.idea/contentModel.xml
/Lab1/.idea/.idea.Lab1/.idea/encodings.xml
/Lab1/.idea/.idea.Lab1/.idea/indexLayout.xml
/Lab1/Lab1/obj/Debug/netcoreapp3.1/Lab1.AssemblyInfo.cs
/Lab1/Lab1/obj/Debug/netcoreapp3.1/Lab1.AssemblyInfoInputs.cache
/Lab1/Lab1/obj/Debug/netcoreapp3.1/Lab1.assets.cache
/Lab1/Lab1/obj/Debug/netcoreapp3.1/Lab1.csproj.CoreCompileInputs.cache
/Lab1/Lab1/obj/Debug/netcoreapp3.1/Lab1.csproj.FileListAbsolute.txt
/Lab1/Lab1/obj/Lab1.csproj.nuget.dgspec.json
/Lab1/Lab1/obj/Lab1.csproj.nuget.g.props
/Lab1/Lab1/obj/Lab1.csproj.nuget.g.targets
/Lab1/Lab1/obj/Debug/netcoreapp3.1/Lab1.csprojAssemblyReference.cache
/Lab1/Lab1/bin/Debug/netcoreapp3.1/Lab1.deps.json
/Lab1/Lab1/bin/Debug/netcoreapp3.1/Lab1.dll
/Lab1/Lab1/obj/Debug/netcoreapp3.1/Lab1.dll
/Lab1/Lab1/obj/Debug/netcoreapp3.1/Lab1.genruntimeconfig.cache
/Lab1/Lab1/bin/Debug/netcoreapp3.1/Lab1.pdb
/Lab1/Lab1/obj/Debug/netcoreapp3.1/Lab1.pdb
/Lab1/Lab1/bin/Debug/netcoreapp3.1/Lab1.runtimeconfig.dev.json
/Lab1/Lab1/bin/Debug/netcoreapp3.1/Lab1.runtimeconfig.json
/Lab1/.idea/.idea.Lab1/.idea/modules.xml
/Lab1/Lab1/obj/project.assets.json
/Lab1/Lab1/obj/project.nuget.cache
/Lab1/Lab1/obj/project.packagespec.json
/Lab1/.idea/.idea.Lab1/.idea/projectSettingsUpdater.xml
/Lab1/Lab1/obj/rider.project.restore.info
/Lab1/.idea/.idea.Lab1/riderModule.iml
/Lab1/.idea/.idea.Lab1/.idea/vcs.xml
/Lab1/.idea/.idea.Lab1/.idea/workspace.xml
